# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from my_keys3 import g2_key

In [31]:
# pip install matplotlib==3.2

In [32]:
# pip install requests

In [33]:
# pip install os

In [34]:
# pip install matplotlib

In [35]:
# pip install requests

In [36]:
# pip install gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [47]:
weather_df = pd.read_csv('./clean_weather_info.csv')
weather_df.head(10)

,City,Latitude,Longtitude,Max Temperature,Humidity,Clouds,Wind Speed,Country,Weather Date
0,Port Alfred,-33.5906,26.8910,70.47,71,100,2.08,ZA,1632582560
1,Svarstad,59.3990,9.9698,67.71,40,35,1.70,NO,1632582561
2,Mataura,-46.1927,168.8643,39.47,98,90,4.32,NZ,1632582549
3,Albany,42.6001,-73.9662,70.75,71,83,2.33,US,1632582401
4,Yellowknife,62.4560,-114.3525,45.41,100,90,3.00,CA,1632582562
5,Ushuaia,-54.8000,-68.3000,42.46,65,75,14.97,AR,1632582562
6,Busselton,-33.6500,115.3333,56.05,77,96,12.53,AU,1632582562
7,Kapaa,22.0752,-159.3190,75.52,80,1,14.97,US,1632582563
8,Nikolskoye,59.7035,30.7861,50.02,95,100,7.11,RU,1632582563
9,Cape Town,-33.9258,18.4232,66.11,71,9,9.17,ZA,1632582455

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
gmaps.configure(api_key=g2_key)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(
    weather_df[['Latitude', 'Longtitude']], weights=weather_df['Humidity'], max_intensity=30, point_radius=2.0
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [49]:
#A max temperature lower than 80 degrees but higher than 70.
temperature_filtered_df = weather_df[(weather_df['Max Temperature'] <= 80) & (weather_df['Max Temperature'] > 70)]

# Wind speed less than 10 mph.
speed_filtered_df = temperature_filtered_df[temperature_filtered_df['Wind Speed'] < 10]

# Zero cloudiness.
cloud_f_df = speed_filtered_df[speed_filtered_df['Clouds'] == 0]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
import json

hotel_df = cloud_f_df.copy()

hotel_names = []
for _, row in hotel_df.iterrows():
    latitude = row['Latitude']
    longtitude = row['Longtitude']    

    # Query places api for nearest hotel, if exists add to list
    endpoint_url = f"https://maps.googleapis.com/maps/api/place/textsearch/json?query=hotel&location={latitude},{longtitude}&radius=5000&region=us&key={g_key}"
    response = requests.get(endpoint_url, params = {})
    results = json.loads(response.content)['results']
    
    hotel_name = None
    if len(results) > 0:
        hotel_name = results[0]['name']

    hotel_names.append(hotel_name)

hotel_df['Hotel Name'] = hotel_names
hotel_df['Lat'] = hotel_df['Latitude']
hotel_df['Lng'] = hotel_df['Longtitude']
hotel_df.head(10)

,City,Latitude,Longtitude,Max Temperature,Humidity,Clouds,Wind Speed,Country,Weather Date,Hotel Name,Lat,Lng
43,Tarata,-17.6167,-66.0167,71.08,36,0,3.15,BO,1632582575,None,-17.6167,-66.0167
175,Sanming,26.2486,117.6186,74.93,77,0,2.55,CN,1632582623,None,26.2486,117.6186
322,Arrondissement de Saint-Denis,48.9167,2.3333,76.50,57,0,1.01,FR,1632582682,None,48.9167,2.3333
326,Quiindy,-25.9667,-57.2667,79.84,30,0,5.59,PY,1632582684,None,-25.9667,-57.2667
336,Yangi Marg`ilon,40.4272,71.7189,74.12,27,0,4.61,UZ,1632582688,None,40.4272,71.7189
443,Abu Samrah,35.3029,37.1841,78.40,23,0,2.66,SY,1632582731,None,35.3029,37.1841
454,Havelock,34.8791,-76.9013,75.18,64,0,4.00,US,1632582570,None,34.8791,-76.9013
544,Huazhou,21.6333,110.5833,78.10,90,0,7.70,CN,1632582772,None,21.6333,110.5833

In [52]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [53]:
# Add marker layer ontop of heat map
marker_layer = gmaps.symbol_layer(
            locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))